*{
    padding: 0;
    margin: 0;

}
:root{
    --fonte: rgb(39, 38, 38);
    --fundo: #e0e0e0;
    --hover: rgb(83, 134, 211);


}
body{
    background-color: rgba(86, 100, 231, 0.822);
}
a {
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.header{

    background-color: var(--fundo);
    width: 100%;
    position: sticky;
    top: 0;

}
.logo{
    display: inline-block;
   color: var(--fundo);
   font-size: 12px;
  
}
#logo{
  height: 5vh;

}
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--fundo);
    overflow: hidden;
}
.menu a{
    display: block;
    padding: 30px;
    color: var(--fonte);
    
}
.menu a:hover{
    background-color: var(--hover);
}
.nav{
    max-height: 0;
    transition: max-height .1s ease-out;
}
.hamburger{
    cursor: pointer;
    float: right;
    padding: 35px 20px;
}
.hamb-line{
    background: var(--fonte);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

}
.hamb-line::before,
.hamb-line::after{
    background: var(--fonte);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}
.side-menu{
    display: none;
}
.side-menu:checked ~ nav{
 max-height: 100%;
}

.side-menu:checked ~ .hamburger .hamb-line{
    background: transparent;
}
.side-menu:checked ~ .hamburger .hamb-line::before{
    transform: rotate(-45deg);
    top: 0;
}
.side-menu:checked ~ .hamburger .hamb-line::after{
    transform: rotate(+45deg);
    top: 0;
}
.conteudo-musica{
     width: 100%;

}
.rodape{
    width: 100%;
    background-color: rgb(104, 142, 211);
    text-align: center  ;
}
.desc-estilo{
    width: 100;
   background-color: rgb(17, 197, 92);

}
.desc-solo{
    width: 100;
background-color: rgb(93, 194, 107);

}
.desc-grupo{
    width: 100;
background-color: rgb(221, 52, 52);

}
.desc-banda{
    width: 100;
background-color: rgb(64, 77, 148) ;
}
.desc-app{
    width: 100;
background-color: rgb(79, 124, 221);
}
.img-ini{
    width: 100%;
}
@media screen and (min-width: 768px){
   .nav{
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
   }
   .menu{
    float: left;
   }
   .menu a:hover{
    background-color: transparent;
    color: var(--hover);
   }
   .hamburger{
    display: none;
   }
   #logo{
    width:25vh;
    height: 25vh; 
    

   }
    }

   
   
   @media screen and (min-width: 1280px){
       .menu{
          height: 200px;
          background-color: rgb(37, 37, 241);
          font-size: 64px;
       }
       .img-ini{
           width: 50%;
       }
       .desc-solo{
           display: flex;
       }
      }