*{
    padding: 0;
    margin: 0;
}
:root {
    --fundo: rgb(4, 0, 255);
    --fonte: rgb(84, 84, 204);
    --hover: rgb(0, 0, 0);
}
body {
    background-color: rgb(84, 84, 204);
}
.menu {
    width: 100%;
    height: 60px;
    background-color: rgb(138, 138, 236);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

header {
    background-color: var(--fundo);
    width: 100%;
    position: sticky;
    top: 0%;
}
.logo {
    display: inline-block;
    color: var(--fonte);
    font-size: 32px;
}
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--fundo);
    overflow: hidden;
}
.nav a {
    display: block;
    padding: 30px;
    color: var(--fonte);
}
.na a:hover {
    background-color: var(--hover);
}
.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}
.hamburguer {
    cursor: pointer;
    float: right;
    padding: 35px 20px;
}
.hamb-line {
    background-color: var(--fonte);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}
.hamb-line::before
.hamb-line::after {
    background: var(--fonte);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 2s ease-out;
    width: 100%;
}
.hamb-line::before {
    top: 5px;
}
.hamb-line::before {
    top: -5px;
}
.side-menu {
    display: none;
}
.side-menu:checked ~ nav {
    max-width: 100%;
}
.side-menu:checked ~ .hamburguer .hamb-line {
    background: transparent;
}
.conteudo-musica{
    width: 100%;
}
.rodape{
    width: 100%;
    background-color: rgb(102, 188, 209);
    text-align: center;
}
.desc-estilo{
    width: 100%;
    background-color: rgb(228, 164, 80);
}
.desc-solo{
    width: 100%;
    background-color: rgb(240, 203, 155);
}
.desc-grupo{
    width: 100%;
    background-color: rgb(228, 164, 80);
}
.desc-banda{
    width: 100%;
    background-color: rgb(240, 203, 155);
}
.desc-app{
    width: 100%;
    background-color: rgb(228, 164, 80);
}
.img-ini{
    width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 992px){
 .menu{
    height: 150px;
    background-color: rgb(94, 94, 238);
 }
 .conteudo-musica{
    display: flex;
    direction: ltr;
 }
}
@media screen and (min-width: 993px) and (max-width: 1080px){
    .menu{
       height: 200px;
       background-color: rgb(37, 37, 241);
    }
    .conteudo-musica{
       display: flex;
       direction: rtl;
    }
   }
